# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
out/
docs/
examples/src/WeaponPlugin.js
examples/src/WeaponPlugin.js.map
/npm-debug.log
